# ignore all files in this directory
*

# cancel ignore .proto file
!.editorconfig
!.gitignore
!*.proto
!*.md
!LICENSE

# cancel ignore directory (so that .proto files in subdirectories are included)
!*/
